.section_activite .grid-parent-activite{
    grid-gap: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 124px 13px 124px;

}


.section_activite .cards {
    border: none;
}
.section_activite .cards_img_box {
    border-radius: 15px 15px 0 0 ;
}

.section_activite .box {
    height: 40px;
    
}

.section_activite .box h2 {
    padding-top: 6px;

}

.section_activite .cards_img_box {
    height: calc(100% - 40px);
}
.one {
    grid-row: 1/4;
    grid-column: 1/2;
}

.two {
    grid-row: 1/3; 
    grid-column: 2/3;
}

.three {
    grid-row: 1/4;
    grid-column: 3/4;
}

.four {
    grid-column: 4/5;
    grid-row: 1/2;
}

.five {
    grid-column: 2/3;
    grid-row: 3/4;
}

.six {
    grid-column: 4/5;
    grid-row: 2/4;
}

@media all and (max-width: 816px)  {

    .section_activite .grid-parent-activite {

        grid-template:
        'one two three'
        'four five six';
    }

    .one {
        grid-area: one;
    }
    
    .two {
        grid-area: two;
    }
    
    .three {
        grid-area: three;
    }
    
    .four {
        grid-area: four;
    }
    
    .five {
        grid-area: five;
    }
    
    .six {
        grid-area: six;
    }
    
    .section_activite .cards {
        height: 160px;
    }
}


@media all and (max-width: 647px) {

    .section_activite .grid-parent-activite {

        grid-template:
        'one two'
        'three four'
        'five six';

    }

}


@media all and (max-width: 434px)  {


    
    .section_activite .grid-parent-activite{
    
        grid-template:
        'one'
        'two'
        'three'
        'four'
        'five'
        'six';
    
    }

    
}