
.grid-parent-hebergement {

    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    gap: 20px;
}


.box_img_hebergement img {
    object-fit: cover;
    height: 120px;
    border: solid 3px white; 
}
