

.box {
    padding-left: 5%;
}
.cards {
    width: 100%;
    border-radius: 5%;
    max-width: 500px;
    background-color: white;
    height: 185px;
   
    
}

.star_row i {
    font-size: x-small;
   
}

.grey {
    color: lightgray;
}

.box_img_hebergement img {
    object-fit: cover;
    height: 100px;
    border: solid 3px white; 
}

main {

    display: grid; 
    grid-template-columns: 2fr 1fr;
}

.cards i {
    padding-bottom: 1em; 
}


.grid-parent-hebergement {

    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    gap: 20px;
}



.aside-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aside-title i {
    color: black;
}
.populaire-container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    
}




.populaire-container .cards {
    height: 8em;
    display: flex;
    
}
.box_img_populaire img {
    object-fit: cover;
    width: 8em;
    height: 100%; 
    border: solid 3px white; 
}

.populaire-container .box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section_hebergements, .aside_populaires, footer {
    background-color:#EFEFEF;
}
.section_hebergements, .aside_populaires {
    border-radius: 2%;
    /* height: 500px; */
}
.section_hebergements, .aside_populaires, footer, .section_recherche, .section_activite {
    padding: 1em;
    margin: 1em;
   
}

.section_activite .grid-parent-activite{
    grid-gap: 20px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);

}

.section_activite .cards {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
   
}


.section_activite .cards_img_box {
  
    height: max-content;
    border-radius: 10px 10px 0 0 ;
  
}

.cards_img_box img {
    object-fit: cover;
    width: 100%;
    max-height: 135px;
   


}
