
main {

    display: grid; 
    grid-template-columns: 2fr 1fr;
    grid-auto-flow: row dense;
}

.cards i {
    padding-bottom: 1em; 
}

.box {
    padding-left: 15px;
}
.cards {
    width: 100%;
    border-radius: 5%;
    background-color: white; 
    border:white 3px solid;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.star_row i {
    font-size: x-small;
   
}

.grey {
    color: lightgray;
}


.section_hebergements, .aside_populaires, footer {
    background-color:#EFEFEF;
}
.section_hebergements, .aside_populaires {
    border-radius: 2%;
}
.section_hebergements, .aside_populaires, footer, .section_recherche, .section_activite {
    padding: 1em;
    margin: 1em;
}

.cards_img_box img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

img {
    width: 100%; 
    border-radius: 5% 5% 0% 0%;
    
}