/* mise en page globale */

main {

    display: grid; 
    grid-template-columns: 2fr 1fr;
    grid-auto-flow: row dense;
    margin-left: 1em;
    margin-right: 1em;
}

* {
    box-sizing: border-box;
}

.section_hebergements, .aside_populaires {
    border-radius: 15px;
}

.section_hebergements, .aside_populaires, footer {
    background-color:#EFEFEF;
}

.section_hebergements, .aside_populaires, footer, .section_recherche, .section_activite {
    padding: 1em;
    margin: 1em;
}


.section_hebergements {
    padding-left: 2em;
    padding-right: 2em;
}

/* Mise en page globale des cartes */

.box {
    padding-left: 15px;
}
.cards {
    border-radius: 15px;
    background-color: white; 
    border:white 2px solid;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.cards i {
    padding-bottom: 1em; 
}

.cards_img_box img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

img {
    width: 100%; 
    border-radius: 15px 15px 0px 0px;
}


.star_row i {
    font-size: x-small;
}

.cards:hover {
    -webkit-transform: scale(1.01);
    -ms-transform: scale(1.01);
    transform: scale(1.01);
    cursor: pointer;
}


@media all and (max-width: 900px) {
    
    main {
        grid-template-columns: 1fr;
    }
    
}