.aside_populaires .aside-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aside_populaires .aside-title i {
    color: black;
    font-size: 20px;
}

.aside_populaires .populaire-container {
    display: grid; 
    gap: 20px
}

.aside_populaires .cards {
    display: flex; 
    height: 120px ;
    border: white solid 4px; 
}

.aside_populaires .box_img_populaire {
    width: 40%; 
    min-width: 120px;

}

.aside_populaires .box {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.aside_populaires img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 15px 0px 0px 15px ;
}

@media all and (max-width: 900px) {
    .aside_populaires {
        order:1; 
    }

    .aside_populaires .populaire-container {
        display: grid;
        grid-template: repeat(1, 1fr) / repeat(3, 1fr);
    }

    .aside_populaires .cards {
        flex-direction: column;
        height: unset;
    }

    .aside_populaires .box_img_populaire {
        width: 100%;
        height: 120px;
       
        border-radius: 15px 15px 0px 0px;
    }

    .aside_populaires img {
        border-radius: 15px 15px 0px 0px;
    }

}

@media all and (max-width: 650px) {

    .aside_populaires {
        margin-left: 0;
        margin-right: 0;
        border-radius: 0;
    }

    .aside_populaires .populaire-container {
       display: grid;
       grid-gap: 10px;
       grid-template: repeat(3, 1fr) / repeat(1, 1fr);
    }
    
    .aside_populaires .cards {
         flex-direction: row;
        
    }

    .box_img_populaire {
        border-radius: 15px 0px 0px 15px ;
        
    }


    .aside_populaires img {
        border-radius: 15px 0px 0px 15px ;
    }
}