@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;500&display=swap');

body {
    font-family: 'Raleway', sans-serif;
}

h2 {
    font-size: 1em;
}

header {
    display: flex;
    justify-content: space-between;
}

header ul {
    display: flex; 
    flex-direction: row;
    list-style: none;
}

header li {
    padding-right: 4em;

}

    
img {
    width: 100%; 
    border-radius: 5% 5% 0% 0%;
    
}

div.box {
    background-color: thistle;
    padding-left: 52x; 
    
    
}

div.cards {
    width: 80%;
    border: solid yellow; 
    margin-bottom: 25px;
    border-radius: 5%;
    max-width: 200px;
    background-color: white;
   
    
}

main {
    background-color:#EFEFEF;
}